<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments.html :: headers}"></th:block>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
  <form th:action="dayOff" th:method="post" th:object="${dayOff}">
    <label for="date">Wybierz dzień:</label>
    <input type="date" th:field="*{date}" id="date" name="dayOff" min="2024-01-01" max="2024-12-31">
    <input type="submit" value="Dodaj">
  </form>
</div>
</body>
</html>