<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
</head>
<body>
<link rel="stylesheet" href="/schedule.css">
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <form th:action="schedule" th:method="post">
        <label for="month">Wybierz miesiąc:</label>
        <input type="month" id="month" name="month" min="2024-01" max="2024-12" value="2024-01" >
        <input th:if="${admin}" type="submit" value="Przelicz" class="count">
    </form>
</div>
</body>
</html>